
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('Imagens/Fundo.JPG');
    background-size: 1000px;
    background-repeat: repeat;
    background-position: center;
  }
  
  .menu {
    background-color: #4b7b2b;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu a[href="Index.html"] {
    background-color: #62c221;
    border: black 2px solid;
  }
  
  .menu a[href="Jogar.html"] {
    background-color: #2bc7d1;
    border: black 2px solid;
  }
  
  .menu a[href="Estrategias.html"] {
    background-color: #b02626;
    border: black 2px solid;
  }
  
  .menu a[href="Regras.html"] {
    background-color: #545454;
    border: black 2px solid;
  }

  .menu a[href="https://www.google.com/search?q=campo+minado+mobile&oq=campo+mi&aqs=chrome.1.69i57j35i39j46i131i433i512j0i512j46i340i512j0i512l2j46i512j0i512j0i271.7467j0j15&sourceid=chrome&ie=UTF-8"] {
    background-color: #FFDE03;
    border: black 2px solid
  }

  
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu a:hover {
    opacity: 0.9;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .menu .logo img {
    height: 60px;
    margin-right: 20px;
    border-radius: 10%;
  }

  
  .menu .Buttons {
    display: flex;
    gap: 5px;
  }
  
  
  .titulo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 70px;
    color: black;
    text-align: center;
    margin-top: 120px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .intro {
    display: block;
    margin: 20px auto;
    border: 4px solid black;
    border-radius: 15px;
    max-width: 90%;
    height: 300px;
  }
  
  .container-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  .bandeira-esquerda,
  .bandeira-direita {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }
  
  .bandeira-direita {
    transform: scaleX(-1); 
  }
  
.titulo-como {
  font-family: 'Press Start 2P';
  font-size: 38px;
  text-align: center;
  margin-top: 140px;
  color: black;
}

.tutorial-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slides {
  width: 100%;
  display: block;
}

.slide {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px; 
}

.card {
  background: #4b7b2b;
  width: 260px;
  padding: 20px;
  border-radius: 30px;
  text-align: center
  font-family: Arial;
  font-size: 17px;
  color: white;
  border: 3px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img.icone {
  width: 70px;
  margin-bottom: 15px;
}

.contador {
  font-size: 30px;
  font-family: 'Press Start 2P';
  color: black;
  text-align: center;
  margin-top: 20px;
}

.como-jogar {
  background-image: url("Imagens/Fundo.JPG");
  background-size: 600px;   
  background-repeat: repeat;
  background-position: top center;
}

.secao {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 90%;
}

.imagem-explicacao {
  width: 300px;
  max-width: 90%;
  border: 4px solid black;
  border-radius: 20px;
}

.card-texto {
  width: 420px;
  font-size: 18px;
  text-align: justify;
  line-height: 1.4;
}

.ultima-secao .conteudo {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ultima-secao{
  margin-bottom: 160px
}